<ion-header>
  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-item *ngIf="isEdited && !hideForm">
      <button ion-button item-right color="danger" text-center block (click)="deleteEntry()">
        Hapus biodata ini?
        <ion-icon name="remove-circle"></ion-icon>
      </button>
    </ion-item>

    <div *ngIf="!hideForm">
      <ion-item class="post-entry-message" text-wrap>
        <h3>Berhasil! -</h3>
        <p>Jika ingin edit atau hapus biodata, kembali ke halaman utama.</p>
      </ion-item>
    </div>

    <!-- buat form entry biodata baru-->
    <div *ngIf="!hideForm">
      <form [formGroup]="form" (ngSubmit)="saveEntry()">
        <ion-list>
          <ion-item-group>
            <ion-item-divider color="light">Nama Depan
              <ion-item>
                <ion-input formControlName="namaDepan" type="text" placeholder="Nama depan anda" [(ngModel)]="biodataNamaDepan"></ion-input>
              </ion-item>
            </ion-item-divider>
          </ion-item-group>

          <ion-item-group>
            <ion-item-divider color="light">Nama Belakang
              <ion-item>
                <ion-input formControlName="namaBelakang" type="text" placeholder="Nama belakang anda" [(ngModel)]="biodataNamaBelakang"></ion-input>
              </ion-item>
            </ion-item-divider>
          </ion-item-group>

          <ion-item-group>
            <ion-item-divider color="light">Jenis Kelamin
              <ion-item>
                <ion-input formControlName="jenisKelamin" type="text" placeholder="Jenis Kelamin anda" [(ngModel)]="biodataJenisKelamin"></ion-input>
              </ion-item>
            </ion-item-divider>
          </ion-item-group>

          <ion-item-group>
            <ion-item-divider color="light">Nomor Telp
              <ion-item>
                <ion-input formControlName="noTelp" type="text" placeholder="Nomor Telepon anda" [(ngModel)]="biodataNoTelp"></ion-input>
              </ion-item>
            </ion-item-divider>
          </ion-item-group>

          <ion-item-group>
            <ion-item-divider color="light">Alamat
              <ion-item>
                <ion-input formControlName="alamat" type="text" placeholder="Alamat anda" [(ngModel)]="biodataAlamat"></ion-input>
              </ion-item>
            </ion-item-divider>
          </ion-item-group>

          <ion-item-group>
            <ion-item-divider color="light">Email
              <ion-item>
                <ion-input formControlName="email" type="text" placeholder="Email anda" [(ngModel)]="biodataEmail"></ion-input>
              </ion-item>
            </ion-item-divider>
          </ion-item-group>

          <ion-item>
            <button ion-button color="primary" text-center block [disabled]="!form.valid">
              Simpan Biodata -
            </button>
          </ion-item>

        </ion-list>
      </form>
    </div>
  </div>
</ion-content>